/*-------------PAGE ACCUEIL------------------------------*/
#accueil {
  height: 100vh;
  width: 100vw;
  background-image:url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  margin:0;
}
#accueilCart, #accueilBookings {
  height: 100vh;
  width: 100vw;
  background-color:#F2F3F3 ;
  margin:0;
}
/*-------------LIENS HEADER------------------------------*/
#tickethack, #cart, #bookings {
  text-decoration: none;
}
/*-------------CONTAINER GRID------------------------------*/
#container-page {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(13, 1fr);
}
/*-------------HEADER avec LIENS---------------------------*/
#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 14;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdff;
}
#tickethack {
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #4fa890;
}
#cart,
#bookings {
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
}
/*----------TITLES page d'ACCUEIL PRINCIPALE------*/
#title {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 14;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f1f5f9;
}
h3 {
  font-weight: lighter;
}
/*-----BLOCK LEFT-----------------------*/
#content-left {
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 7;

  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;

  width: 80%;
  height: 100%;
  margin: 30px;

  background-color: white;
  background-size: cover;
  border-radius: 10px;
}
#departArrival {
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 100%;
}
input {
  display: block;
  background-color:#f6eeef;
  width: 100%;
}
#cityNameInputA {
  border-top:solid rgb(197, 197, 197) 0.5px;
  border-bottom:solid white 1px;
  border-left:solid white 1px;
  border-right:solid white 1px;
}
#cityNameInputD {
  border-top:solid white 1px;
  border-bottom:solid rgb(197, 197, 197) 0.5px;
  border-left:solid white 1px;
  border-right:solid white 1px;
}
#travelDay {
  background-color:#f6eeef ;
}
.btn-search {
  color: 469e86;
}
/*-----BLOCK RIGHT-----------------------*/

#content-right {
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 8;
  grid-column-end: 12;

  width: 80%;
  height: 100%;
  margin: 30px;

  background-color: white;
  border-radius: 20px;
}
#book-container {
  margin: 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
/*-------------LES BLOCS INVISIBLES---------------------------*/
#no-book-container {
  display: none;
}
#anyvoyage {
  display: none;
}
/*-------------LES BLOCS page CART & BOOKINGS---------------------------*/
.trip {
  background-color: #f6eeef;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.result-content {
  grid-row-start: 4;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 12;
  width: 45vw;
  margin: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
#checkout-summary {
  background-color: #01153f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
.btn btn-success, #total-title {
  padding: 10px;

}

.line {
  display: center;
}
/*------------- FOOTER ---------------------------*/
#footer {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 14;
}